<p-growl [(value)]="msgs"></p-growl>
<p-blockUI [blocked]="appService.blockedUI"></p-blockUI>
<p-confirmDialog></p-confirmDialog>

<div>
  <p-menubar>

    <a routerLink="topic" class="dashboardLink" style="float:left">
      <img src="assets/images/forum.png" class="forumImage">
    </a>

    <a routerLink="/user/{{authenticationService.loggedUser.id}}" [routerLinkActive]="'activeLink'"
       class="btn btn-default menuLink" *ngIf="authenticationService.loggedUser">
      {{authenticationService.loggedUser.username}}
    </a>

    <a routerLink="topic" [routerLinkActive]="'activeLink'" [routerLinkActiveOptions]="{exact:true}"
       class="btn btn-default menuLink">
      <span class="fa fa-th-list"></span> Topics
    </a>

    <a routerLink="/topic/new" [routerLinkActive]="'activeLink'"
       class="btn btn-default menuLink" *ngIf="authenticationService.hasAdminRole()">
      <span class="fa fa-plus"></span> Add Topic
    </a>

    <div class="authenticationButton">
      <a class="dashboardLink" *ngIf="authenticationService.loggedUser">
        <button pButton label="Logout" icon="fa fa-sign-out" type="button" (click)="logout()"></button>
      </a>

      <a routerLink="login" class="dashboardLink" *ngIf="!authenticationService.loggedUser">
        <button pButton label="Log in" icon="fa fa-sign-in" type="button"></button>
      </a>
      <a routerLink="registration" *ngIf="!authenticationService.loggedUser" class="dashboardLink">
        <button pButton label="Registration" icon="fa fa-user-plus" type="button"></button>
      </a>
    </div>

  </p-menubar>
</div>

<div class="footer">
  Dr. Milo Jones 2018 | All rights reserved
</div>

<router-outlet></router-outlet>
