<div class="commentBody">
  <div>
    <h2 style="margin: 0">{{user.username}}</h2>
  </div>

  <div class="commentText">

    <div class="row">

      <div class="form-group">

        <label>First Name:</label>
        <div>
          <h4 class="form-control">{{user.firstName}}</h4>
        </div>

      </div>
    </div>

    <div class="row">

      <div class="form-group">

        <label>Last Name:</label>
        <div>
          <h4 class="form-control">{{user.lastName}}</h4>
        </div>

      </div>
    </div>

    <div class="row">

      <div class="form-group">

        <label>Username:</label>
        <div>
          <h4 class="form-control">{{user.username}}</h4>
        </div>

      </div>
    </div>

  </div>

</div>
