<div class="container">
  <div class="marinTop50">

    <div class="evidenceHeader">
      <h1>New evidence</h1>
    </div>
    <div class="evidenceHeader">
      <h3>{{topic.name}}</h3>
    </div>


    <div class="evidenceContent" style="padding-top: 30px">

      <div class="row">

        <div class="form-group marginBottom25 marginRight25" style="width: 100%">
          <span class="ui-float-label">
            <input [(ngModel)]="evidence.evidence" [required]="true" id="evidence" name="evidence" type="text"
                   style="width: 100%" pInputText>
            <label for="evidence">Evidence</label>
          </span>
        </div>

      </div>

      <div class="row">

        <div class="form-group marginBottom25 marginRight25" style="width: 77%">
          <span class="ui-float-label">
            <input [(ngModel)]="evidence.source" [required]="true" id="source" name="source" type="text"
                   style="width: 100%; height: 33px"
                   pInputText>
            <label for="source">Source</label>
          </span>
        </div>

        <div class="form-group marginBottom25 marginRight25">
          <p-dropdown [options]="credibilityOptions" [style]="{'width':'100%'}"
                      (onChange)="evidence.source= $event.value"></p-dropdown>
        </div>

      </div>

      <div *ngFor="let hypothese of topic.hypotheses" class="">

        <div class="row">
          {{hypothese}}
        </div>

        <div class="row">
          <div class="form-group marginBottom25 marginRight25">
            <p-dropdown [options]="suppotOptions" [style]="{'width':'100%'}" (onChange)="true"></p-dropdown>
          </div>
        </div>

      </div>

    </div>

    <div class="row" style="margin-right: 0; margin-bottom: 5px" *ngIf="evidenceId != 'new'">
      <div class="evidenceCreatorSignature">
        <!--{{username}} {{post | date: 'dd/MM/yyyy'}}-->
        Antilamer
      </div>
    </div>

    <div *ngIf="evidenceId != 'new'">

      <!--<div *ngFor="let comment of post.comments" class="commentBody">-->
      <div class="commentBody">
        <div class="commentHeader">
          <!--<h6 style="margin: 0">{{comment.user.username}} {{comment.creationDate | date: 'dd/MM/yyyy'}}</h6>-->
          <h6 style="margin: 0">username</h6>
        </div>

        <div [innerHTML]="comment" class="commentText"></div>
      </div>

      <form *ngIf="authenticationService.loggedUser" #form="ngForm" (ngSubmit)="addComment(form)">
        <div class="addComment">
          <p-editor [(ngModel)]="comment" [style]="{'height':'200px'}" name="addComment"></p-editor>
          <div class="form-group evidenceSave">
            <button pButton label="Add comment" icon="fa fa-paper-plane" type="submit"></button>
          </div>
        </div>
      </form>

    </div>

  </div>
</div>
