<div class="container">
  <div class="marinTop50">

    <div class="postHeader">
      <h2>post</h2>
    </div>


    <div class="postContent">
      post
    </div>

    <div class="row" style="margin-right: 0; margin-bottom: 5px">
      <div class="postCreatorSignature">
        <!--{{username}} {{post | date: 'dd/MM/yyyy'}}-->
        Antilamer
      </div>
    </div>

    <!--<div *ngFor="let comment of post.comments" class="commentBody">-->
    <div class="commentBody">
      <div class="commentHeader">
        <!--<h6 style="margin: 0">{{comment.user.username}} {{comment.creationDate | date: 'dd/MM/yyyy'}}</h6>-->
        <h6 style="margin: 0">username</h6>
      </div>

      <div [innerHTML]="comment" class="commentText"></div>
    </div>

    <form *ngIf="authenticationService.loggedUser" #form="ngForm" (ngSubmit)="addComment(form)">
      <div class="addComment">
        <p-editor [(ngModel)]="comment" [style]="{'height':'200px'}" name="addComment"></p-editor>
        <div class="form-group postSave">
          <button pButton label="Add comment" icon="fa fa-paper-plane" type="submit"></button>
        </div>
      </div>
    </form>

  </div>
</div>
