/* You can add global styles to this file, and also import other style files */

.authenticationDiv {
  display: inline-block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 500px !important;
  height: 450px;
  margin: auto;
  background-color: #F7F7F9;
  border-radius: 5%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding: 10px;
}

.loginHeader {
  margin-left: 170px !important;
  margin-top: 60px;
}

.loginDiv {
  margin-top: 25px;
  margin-left: 80px !important;
}

.marginBottom25 {
  margin-bottom: 25px !important;
}

.submitLogin {
  margin-bottom: 25px;
  margin-left: 100px;
}
