/* You can add global styles to this file, and also import other style files */

html {
  height: 100%;
}

body {
  color: #3e3e44 !important;
  font-family: sans-serif !important;
  height:100%;
}

.authenticationDiv {
  display: inline-block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 500px !important;
  height: 450px;
  margin: auto;
  background-color: #F7F7F9;
  border-radius: 5%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding: 10px;
}

.loginHeader {
  margin-left: 170px !important;
  margin-top: 60px;
}

.loginDiv {
  margin-top: 25px;
  margin-left: 80px !important;
}

.marginBottom25 {
  margin-bottom: 25px !important;
}

.submitLogin {
  margin-bottom: 25px;
  margin-left: 100px;
}

.registrationHeader {
  margin-left: 110px !important;
  margin-top: 25px;
}

.registrationDiv {
  margin-top: 25px;
  margin-left: 80px !important;
}

.topicContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
}

.topicCard {
  background-color: #F7F7F9;
  float: left;
  width: 350px;
  min-height: 300px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);

  padding: 30px;
  margin:30px;

  font-size: 26px;
  text-align: center;
}

.topicCard:hover {
  background-color: #efeff2;
  cursor: pointer;
}

.newTopicContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.topicDiv {
  width: 500px !important;
  height: 450px;
  background-color: #F7F7F9;
  border-radius: 5%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding: 10px;
}
