<div class="evidenceTableContainer">

  <p-table [value]="topic.evidences" [lazy]="true" (onLazyLoad)="loadEvidences($event)" [paginator]="true"
           [rows]="20" [totalRecords]="totalRecords" [loading]="loading">

    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of cols">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-evidence>
      <tr>
        <td *ngFor="let col of cols">
          {{getEvidenceValue(evidence, col)}}
        </td>
      </tr>
    </ng-template>
  </p-table>

</div>
