<div class="evidenceTableContainer">

  <p-table #dt [columns]="cols" [value]="data" [lazy]="true" (onLazyLoad)="loadEvidences($event)" [paginator]="true"
           [rows]="15" [totalRecords]="totalRecords" [loading]="loading">

    <ng-template pTemplate="caption">

      <div class="ui-helper-clearfix">
        <button type="button" pButton icon="fa fa-file" iconPos="left" label="Add new evidence" (click)="addEvidence()" style="float:left"></button>
      </div>

    </ng-template>

    <ng-template pTemplate="header" let-columns>

      <tr>
        <th *ngFor="let col of columns">
          {{getHeaderValue(col)}}
        </th>
      </tr>

      <tr>
        <th *ngFor="let col of columns" [ngSwitch]="col.field">
          <input *ngSwitchCase="'evidence'" style="width: 100%" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
          <input *ngSwitchCase="'source'" style="width: 100%" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
          <p-dropdown *ngSwitchCase="'credibility'" [options]="credibilityOptions" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, col.filterMatchMode)"></p-dropdown>

          <!--some bug in primeNg, you can't just add some generic function like below, there should be new inputs -->
          <!--<input *ngSwitchCase="isHypothese(col)" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">-->
          <p-dropdown *ngSwitchCase="'0'" [options]="suppotOptions" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, col.filterMatchMode)"></p-dropdown>
          <p-dropdown *ngSwitchCase="'1'" [options]="suppotOptions" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, col.filterMatchMode)"></p-dropdown>
          <p-dropdown *ngSwitchCase="'2'" [options]="suppotOptions" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, col.filterMatchMode)"></p-dropdown>
          <p-dropdown *ngSwitchCase="'3'" [options]="suppotOptions" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, col.filterMatchMode)"></p-dropdown>
          <p-dropdown *ngSwitchCase="'4'" [options]="suppotOptions" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, col.filterMatchMode)"></p-dropdown>
          <p-dropdown *ngSwitchCase="'5'" [options]="suppotOptions" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, col.filterMatchMode)"></p-dropdown>
          <p-dropdown *ngSwitchCase="'6'" [options]="suppotOptions" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, col.filterMatchMode)"></p-dropdown>
          <p-dropdown *ngSwitchCase="'7'" [options]="suppotOptions" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, col.filterMatchMode)"></p-dropdown>
          <p-dropdown *ngSwitchCase="'8'" [options]="suppotOptions" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, col.filterMatchMode)"></p-dropdown>
          <p-dropdown *ngSwitchCase="'9'" [options]="suppotOptions" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, col.filterMatchMode)"></p-dropdown>
        </th>
      </tr>

    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">

      <tr>
        <td *ngFor="let col of columns">
          {{getEvidenceValue(rowData, col)}}
        </td>
      </tr>

    </ng-template>

  </p-table>

</div>
